* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* conteúdo não ultrapassa o limite da borda */
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  background-color: #EFEFEF;
  height: 100%;
}